@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- HOME PAGE -->
<head>
    <title>Pixel Perspective</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</head>
<div class="container-fluid">
    <div class="row mb-md-3">
        <!-- This is the section of the wireframe at the top designated "featured game sliders", we will probably implement an algorithm to pull games at random in the database to appear here-->
        <div class="col-md-12">
            <div class="justify-content-start">

                <div class="slider">  
                    @foreach (var game in Model.TopBar)
                    {
                        <div><h1>@game.Title</h1></div>
                    }
                </div>

                <script type="text/javascript">

                    $('.slider').slick({
                        infinite: true,
                        slidesToShow: 4,
                        slidesToScroll: 4
                    });
                </script>
            </div>
        </div>

        <!-- Left Side Panel -->
            <div class="col-md-9 mb-6">
                <div class="justify-content-start">

                    <div class="row mb-5">
                        <div class="col-md-4">
                            <h2>New Releases</h2>
                        </div>
                        <!-- Game thumbnails that link to the game's page will appear here -->
                        @foreach (var game in Model.NewReleases)
                        {
                            <div><h1>@game.Title</h1></div>
                        }
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-4">
                            <h2>Game of the year nominees 2024</h2>
                        </div>
                        <!-- Game thumbnails that link to the game's page will appear here -->
                        @foreach (var game in Model.GamesOfTheYear)
                        {
                            <div><h1>@game.Title</h1></div>
                        }
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-4">
                            <h2>Trending</h2>
                        </div>
                        <!-- Game thumbnails that link to the game's page will appear here -->
                        @foreach (var game in Model.TrendingGames)
                        {
                            <div><h1>@game.Title</h1></div>
                        }
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-4">
                            <h2>Our top picks</h2>
                        </div>
                        <!-- Game thumbnails that link to the game's page will appear here -->
                        @foreach (var game in Model.OurTopPicks)
                        {
                            <div><h1>@game.Title</h1></div>
                        }
                    </div>

                </div>

            </div>

        <!-- Right Side Panel -->
        <div class="col-md-3"">
            @for (var i = 0; i < 4; i++)
            {
                <p>friend activity</p>
            }
        </div>

    </div>
</div>
