@page "{displayName}"
@model PixelPerspective.Pages.UserProfileModel
@{
}

<h3 class="text-center">@Model.user.DisplayName</h3>

<div class="profile-image d-flex flex-column align-items-center">
    <img src="~/ProfileImages/@(string.IsNullOrEmpty(Model.user.ProfileImagePath) ? "defaultprofile.jpg" : Model.user.ProfileImagePath)"
         alt="Profile Image"
         width="150"
         height="150"
         object-fit="contain"
         class="rounded-circle" />
</div>

<button type="submit" class="btn btn-primary mb-3 float-end">Add Friend</button>

<div class="bio text-center">
    <p><strong>Bio:</strong> @Model.user.Bio</p>
 </div>

 <h4>Game Library</h4>
 <div class="game-row">
    @for (int i=1; i<17; i++)
    {
        <div class="game-item">
            <img src="/Thumbnails/helldivers2.jpg" alt="Game Placeholder" class="game-thumbnail" />
            <p>Game @i</p>
        </div>
    }
</div>

<h4>Recent Reviews</h4>
<div class="review-row">
    @for (int i=1; i<5; i++)
    {
        <div class="review-item">
            <div class="review-header">
                <strong>Game @i</strong>
            </div>
            <p class="review-text">This is a placeholder review. Super epic review for game @i.</p>
        </div>
    }
</div>